header {
  height: 60px;
  width: 100%;
  background: #222121;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
  word-spacing: 30px;
}


/*logo*/
.logo img {
  height: 50px; /* Adjust as needed */
  position: relative;
  left: 20px;
}


body {
  width: 100%;
  min-height: 100vh;
  background: #f8f8f8;
}

.container {
  h1 {
  word-spacing: normal; 
  font-size: 30px;
  color: rgb(232, 57, 8);
}

  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-spacing: 40px;
  font-size: 30px;
  }

  .login-container{
    font-size: 20px;
  }

 .white-link {
  color: white;
}

/*hamburger icon*/




nav ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav ul li:hover {
  color: rgb(245, 37, 9);
}

.logo {
  font-size: 20px;
}